.add-product-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .add-product-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  .add-product-container input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
  }
  
  .add-product-container input:focus {
    border-color: #00b894;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 184, 148, 0.4);
  }
  
  .add-product-container button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #00b894;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .loader {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  .add-product-container button:hover {
    background-color: #019875;
    box-shadow: 0 4px 12px rgba(0, 184, 148, 0.4);
  }
  .add-product-container span {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
  .add-product-container p {
    color:green;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }